<!DOCTYPE html>
<html>
<head>
	<title>Results</title>
	<link rel="stylesheet" type="text/css" href="bulma-0.7.1/css/bulma.css" />
</head>
<body>
<div class="container">
	<div class="columns">
		<div class="column">
			<h1 class="title"> Submitted Information:</h1>
			<p>Name: <%=post[0] %> </p>
			<p>Dojo Location:<%=post[1] %> </p>
			<p>Favorite Language: <%=post[2] %></p>
			<p>Comment: <%=post[3] %> </p>
			<a href="/"><button>Go Back</button></a>
		</div>
		
	</div>
</div>
</body>
</html>